# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
dist/
.vercel/
.netlify/

# Env & local
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Coverage & tests
coverage/
reports/